/*
@package yogaflex
*/

.toplevel_page_yogaflex_theme{
    background-color: rgba(83, 171, 221, 0.37);
}

.yogaflex-general-form, .yogaflex-sidebar-preview{
    display: block;
    float: left;
    font-family: "Roboto", sans-serif;
}

.yogaflex-sidebar-preview {
    width: 280px;
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}

.yogaflex-sidebar{
    display: block;
    text-align: center;
}

h4.yogaflex-username{
    font-weight: 300;
    color: black;
    font-size: 18px;
    margin: 0 0 10px;
}

p.yogaflex-title, p.yogaflex-about{
    font-weight: 400;
    color: rgb(128, 128, 128);
    font-size: 14px;
    margin: 0 0 20px;
}

.image-container{
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.profile-picture{
    width: 122px;
    height: 122px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#lastname{
    margin-left: 15px;
}

#title{
    width: 100%;
}

textarea{
    width: 100%;
    height: 120px;
}
